<%- include('partials/header');-%>

	<section id="content-wrapper" class="container">

      <h3 style="text-align:center;">Hostels</h3>
      <div class="row" >
      	<div class="col-lg-4 col-md-6  ca">
      	<a href="/blocks/Block-1">
      		<h1>Block-1</h1>
      	</a>
      	</div>
      	<div class="col-lg-4 col-md-6  ca">
      	<a href="/blocks/Block-2">
      		<h1>Block-2</h1>
      	</a>
      	</div>
      	<div class="col-lg-4 col-md-6  ca">
      	<a href="/blocks/Block-3">
      		<h1>Block-3</h1>
      	</a>
      	</div>
      	<div class="col-lg-4 col-md-6  ca">
      	<a href="/blocks/Block-4">
      		<h1>Block-4</h1>
      	</a>
      	</div>
      	<div class="col-lg-4 col-md-6  ca">
      	<a href="/blocks/Block-5">
      		<h1>Block-5</h1>
      	</a>
      	</div>

      </div>
    </section>
	

<%- include('partials/footer');-%>
