<%- include('partials/header');-%>
<style type="text/css">
/* body{
    background-color: red;
} */

</style>

<body>
 <form method="POST" action="/id-card" >
    <p>Enter your roll num</p><br>
<input type="text" name="roll" placeholder="Roll num" />
<input type="submit" />
</form>
</body>


<%- include('partials/footer');-%>